/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    position: relative;
    width:100%;
    min-height: 2030px;
    /*background: #ffffff;*/
    background: #660000;
    font-family: Georgia, Arial, SansSerif, serif;
    font-size: 12px;
    line-height: 17px;
}
h1{
    font-size: 32px;
    line-height: 32px;
    color: #333333;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
p{
    color:#979797;
}
a{
    font-size: 13px;
    line-height: 35px;
    color:#ffffff;
}
.container{
    width: 960px;
    margin: 0 auto;
   /* background: #b3d4fc;*/
}
/*HEADER*/
.main-header{
    width: 100%;
    height: 600px;
    background: #290000;
   /* background: #8affc6;*/
    border-top:5px solid #76c38f;
}
.navigation{
    height: 78px;
}
.logo{
    
    float:left;
    padding-top: 20px; 
}
.logo-title{
    margin-bottom: 0;
    font:28px/28px Georgia;
    color: #ffffff;
}
.logo span{
    color:#979797;
}
.main-menu{
    margin: 0;
    list-style: none;
    color:#ffffff;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    float: right;
}
.main-menu li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 40px;
}
.main-menu li:last-child{
    margin-right: 0;
}
.main-menu a{
    text-decoration: none;
}
.main-menu .active{
    padding: 10px 20px 8px 20px;
    background: #76c38f;
    border-radius: 10px;
}
/*HEADER*/

/*Slider*/
.slider{
    position:relative;
    margin: 0 auto;
    width: 960px;
    height: 522px;
   /* background-color: #a6628a;*/
}
.slider-controls{
	position: absolute;
	bottom: 81px;
	left: 48%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
	font-size: 0;
}
.slider-controls label{
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 9px;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
input /*[type=radio]*/{
    display: none;
}
.slider input/*[type=radio]*/:nth-child(1):checked ~ .slider-inner .slide-block:nth-child(1),
.slider input/*[type=radio]*/:nth-child(2):checked ~ .slider-inner .slide-block:nth-child(2),
.slider input/*[type=radio]*/:nth-child(3):checked ~ .slider-inner .slide-block:nth-child(3){
     display: block;
 }
#button-1:checked ~ .slider-controls label[for="button-1"]::after,
#button-2:checked ~ .slider-controls label[for="button-2"]::after,
#button-3:checked ~ .slider-controls label[for="button-3"]::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 50% 50%;
}
.slide-block{
    height: 100%;
    width: 100%;
    /*padding-bottom: 85px;*/
    display: none;
   /* border:1px solid #ffff00;*/
}
.slide-block__title{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto 60px;
    width: 320px;
    height: 240px;
   /* background: rgba(33, 151, 194, 0.5);*/
}
.slide-block__title h1{
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
    color:#ffffff;
}
.slide-block__title a{
    padding: 5px 15px 5px 15px;
    background: #76c38f;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}
.slide-block__pic{
    position: absolute;
    width: 380px;
    height: 380px;
    border: 26px solid #6b6b6b;
    border-radius: 50% 50%;
    right: 0;
    background: #333333;
    overflow: hidden;
    margin-top: 35px;

}
.pic1{
    background-image: url("../img/computer.png");
}
.pic2{
    background-image: url("../img/school-845196_640.png");
}
.pic3{
    background-image: url("../img/sports-2013045_640.png");
}
.slide-block:nth-child(1){
    /*background: url("../img/computer.png") no-repeat;*/
    background-position: 540px 47px;
}
.slide-block:nth-child(2){
   /* background: url("../img/school-845196_640.png") no-repeat;*/
    background-position: 540px 47px;
}
.slide-block:nth-child(3){
    /*background: url("../img/sports-2013045_640.png") no-repeat;*/
    background-position: 540px 47px;
}
/*#button-1:checked ~ #controls label:nth-child(3),
#button-2:checked ~ #controls label:nth-child(1),
#button-3:checked ~ #controls label:nth-child(2){
    background: url('../img/prev.png') no-repeat; !*заливка фона картинкой без повторений*!
    float: left;
    margin: 0 0 0 -84px; !*сдвиг влево*!
    display: block;
    height: 68px;
    width: 68px;
}*/
/*!*настройка переключения и положения для правой стрелки*!
#button-1:checked ~ #controls label:nth-child(2),
#button-2:checked ~ #controls label:nth-child(3),
#button-3:checked ~ #controls label:nth-child(4){
    background: url('../img/next.png') no-repeat; !*заливка фона картинкой без повторений*!
    float: right;
    margin: 0 -84px 0 0; !*сдвиг вправо*!
    display: block;
    height: 68px;
    width: 68px;
}*/
/*!*позиция изображения при активации переключателя*!
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}*/
/*.left-arrow{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto 25px;
    width: 15px;
    height: 28px;
    background: url("../img/left-arrow.png");
}
.right-arrow{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto 925px;
    width: 15px;
    height: 28px;
    background: url("../img/right-arrow.png");
}*/

/*
#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3) {
    background: green;
}
#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3 {
    opacity: 1;
    z-index: 1;
}*/
/*Slider*/

/*---MAIN---*/
.main {
    height: 780px;
}

.product-list {
   /* height: 428px;*/
    /* background: #76c38f;*/
}

.product-item {
    width: 225px;
    height: 305px;
    margin-top: 60px;
    margin-right: 20px;
    background: #ffffff;
    float: left;
}

.product-item:last-child {
    margin-right: 0;
}

.photo {
    height: 120px;
    width: 120px;
    background: #000000;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 12px;
}

.product-item__text {
    /* margin: 0;*/
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #979797;
    padding-left: 33px;
    padding-right: 33px;
    /* margin-bottom: 21px;*/
}

/*при наведении мыши на элемент изменяется: фон,
цвет текста, фон картинки*/
.product-item:hover {
    background: #76c38f;
}

.product-item:hover .photo {
    background: #ffffff;
}

.product-item:hover p {
    color: #ffffff;
}

/*оформляем divider*/
.divider{
    padding: 0;
    margin-top: 63px;
    margin-bottom: 52px;
    text-align: center;
   /* background: yellow;*/
}
.divider h1 {
    position: relative;

    display: inline;
    margin: 0;
    padding: 12px 15px;
    border-radius: 10px;

    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    background: #303030;
    z-index: 2;
}

/*формляем линию-разделитель*/
.divider::after {
    content: " ";
    position: relative;
    top: -20px;
    display: block;
    border-bottom: 3px solid #303030;
    z-index: 1;
}

.gallery {
    height: 430px;
    margin-top: 52px;
	/* background: #999999;*/
}

.gallery__list {
	position: relative;
	margin: 0;
    height: 190px;
    width: 290px;
    border: 5px solid #ffffff;
	float: left;
	margin: 0 30px 30px 0;
	/*margin-bottom: 30px;*/
    background: #353535;
    text-align: center;
	color: #ffffff;
}
.gallery__list:nth-child(3),
.gallery__list:nth-child(6) {
	margin-right: 0;
}
.image {
    /* background: #76c38f;*/
	height: 100%;
	width: 100%;
	/* margin-top: 80px;*/
}

figcaption {
	position: absolute;
    width: 100%;
    height: 20px;
    background: #000000;
    color: #ffffff;
	padding-top: 6px;
	bottom: 0;
}

.gallery__list:hover {
    border: 5px solid #76c38f;
}

.gallery__list:hover figcaption {
    display: none;
}
/*---MAIN---*/
/*---FOOTER---*/
.main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 390px;
	background: #303030;
}

.main-footer__block {
    width: 225px;
    height: 307px;
    /* background: #ff810e;*/
    float: left;
    margin-right: 20px;
}

.main-footer__block:last-child {
    margin-right: 0;
}

.main-footer__block h3 {
    font-family: Georgia sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.main-footer__block a,
.title {
    color: #76c38f;
    /* padding-left: 5px;*/

}

.links ul {
    list-style: none;
    padding: 0;
    color: #979797;
}

.links li {
    border-bottom: 1px solid #404040;
}

.links a {
    padding-left: 5px;
}
.main-footer__block input {
    display: block;
    height: 35px;
    width: 215px;
    background: #222222;
    border: 1px solid #222222;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #989898;
}

.main-footer__block textarea {
    height: 80px;
    width: 215px;
    background: #222222;
    /* border: 1px solid #222222;*/
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    color: #989898;
    margin-bottom: 10px;
}

.contacts .submit {
    height: 35px;
    width: 75px;
    background: #76c38f;
    color: #303030;
    padding-top: 2px;
    border: none;
}
/*---FOOTER---*/
/*---COPYRIGHT---*/
.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 60px;
	background: #2b2b2b;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.topline {
    height: 3px;
    background: linear-gradient(to bottom, #000000 50%, #3a3a3a 50%);
}

.copyright .copy {
    float: left;
    margin-top: 20px;
}

.copyright .template {
    float: right;
    margin-top: 20px;
}
/*---COPYRIGHT---*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
